body {
    text-align: center;
    background-color: antiquewhite;
    border-style: groove;
    border-color: aqua;
    border-width: 5px;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;

}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: darkcyan;
}
